
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-style: normal;
  text-transform: none;
  text-align: unset;
  text-decoration: none;
  font-size: 16px;
  line-height: 30px;
}

.auth {
  background-image: url('https://i.pinimg.com/originals/cd/19/c6/cd19c6995371fb9fe41c90a1eb4e7b56.jpg');
}

.login-image {
  background-image: url('https://i.pinimg.com/originals/cd/19/c6/cd19c6995371fb9fe41c90a1eb4e7b56.jpg');

}


form label {
  line-height: 0.25rem !important;
}

.banner {
  background-image: url('../app/utilis/Images/slider1.jpg');
}

.logo {
  -ms-layout-grid-mode: url('../app/utilis/logo/WISDOM\ WAVES\ -\ Logo\ Round.png');
}

.standardCurriculum {
  background-image: url('../app/utilis//Images/standard.jpg');
}

.bg-white {
  background-color: #ffffff;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.section-title {
  text-align: center;
  margin-bottom: 40px;
}

.activity {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  border: 2px solid transparent;
  transition: border-color 0.3s ease;
}

.activity:hover {
  border-color: #4a90e2;
  /* Change border color on hover */
}

.activity h2 {
  font-size: 24px;
  font-weight: bold;
  color: #4a90e2;
  margin-top: 0;
  margin-bottom: 10px;
}

.activity p {
  color: #333333;
  margin-top: 10px;
  margin-bottom: 20px;
}

.activity-icon {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 20px;
}

.activity-icon svg {
  font-size: 48px;
  color: #ffffff;
}

.activity-description {
  text-align: left;
}
